.footer_container{
    text-align: center;
    background-color: black;
    padding: 5rem;
    font-family: 'Montserrat';
    margin-top: 75px;
}

.footer_p{
    font-size: 17px;
    color: antiquewhite;
}

.footer_strong{
    color: orange;
    font-weight: 500;
}