.itemCount {
    border: solid 1px rgb(146, 135, 135);
    cursor: pointer;
    max-width: 100%;
    display: flex;
    gap: 25px;
    margin-block: 1rem;
    align-items: center;
    justify-content: space-between;
}

.operator{
    font-size: 25px;
    background-color: silver;
    padding-block: 5px;
    padding-inline: 15px;
}

.agregarAlCarrito{
    background-color: orangered;
    color: white;
    font-weight: 500;
    padding: 5px;
    margin-top: 10px;
    width: 100%;
}



