.header {
    display: flex;
    justify-content: space-between;
    padding-inline: 4rem;
    padding-block: 1rem;
    align-items: center;
    background-color: rgba(39, 37, 37, 0.9);
}

.navbar{
    display: flex;
    gap: 3rem;
    align-items: center;
}

.logo{
    width: 10rem;
}

.nav{
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 18px;
}

.button_nav{
    color: antiquewhite;
    background-color: rgb(60 58 58);
    font-size: 18px;
    border: none;
}

.button_nav:hover{
    cursor: pointer;
    color: orange;
    transition: all 0.5s;
}